.App {
  padding: 30px;
}

.contents{
  display: flex;
}

.add-button{
  border: none;
  background-color: #2472e6;
  color: #FFF;
  height: 30px;
  min-width: 100px;
  border-radius: 4px;
}

.field{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.field label{
  font-size: 12px;
  margin-bottom: 4px;
}
.field input{
  border: 1px solid #DEDEDE;
  width: 300px;
  height: 30px;
  min-width: 100px;
  border-radius: 4px;

}